@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 80px;
    --border: 0px solid #474a4d;
    --border-radius: 4px;
    --speed: 500ms;
}

.link {
    color: var(--text-color);
    text-decoration: none;
}

.ul {
    list-style: none;
    margin: 0;
    padding: 0;
}




.nav-item {
    width: calc(var(--nav-size) * 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icon Button */
.icon-button {
    --button-size: calc(var(--nav-size) * 0.8);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 0px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button:hover {
    filter: brightness(1.2);
}

.icon-button-dimensions svg {
    width: 45px;
    height: 45px;
}

.dropdown {
    position: absolute;
    top: 80px;
    width: fit-content;
    transform: translateX(-34%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: .5rem;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.menu {
    width: 100%;
}

.menu-item {
    height: fit;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.25rem;
    padding-right: 3rem;
}

.menu-item .icon-button {
    height: 40px;
    width: 40px;
    margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
    filter: none;
}

.menu-item:hover {
    background-color: #525357;
}

.icon-right {
    margin-left: auto;
}


.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}

.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-primary-exit {
    position: absolute;
}

.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}


.menu-secondary-enter {
    transform: translateX(110%);
}

.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-secondary-exit {}

.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}


.dropdown {

    transition: height var(--speed) ease;
}